.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo{
    color: var(--branco-principal);
    margin-bottom: 1em;
    font-weight: 300;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itens__topicos{
    margin:2em 0.5em;
}

.topicos__link{
    text-decoration: none;
    color: var(--branco-principal);
    background-color: var(--laranja-principal);
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo{
        font-size: 24px;
    }

    .topicos__link{
        font-size: 24px;
    }
    
    .itens__topicos{
        margin: 3em 1em
    }
}

@media screen and (min-width: 1728px) {
    .topicos{
        padding: 3em 25vw;
    }
}

